/* Poppins */
@font-face {
  font-family: 'Poppins';
  src: url('./Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url('./Poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src: url('./Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
}

/* Roboto */
@font-face {
  font-family: 'Roboto';
  src: url('./Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('./Roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
}
