body {
  font-family: "Krona One", sans-serif;
}

.header {
  text-align: center;
  margin-top: 50px;
  font-size: 36px;
  margin-bottom: 50px;
  letter-spacing: 2px;
}

.abt {
  display: flex;
  align-items: center;
  margin: 10px 10px;
  margin-bottom: 50px;
  justify-content: center;
}

.about-image img {
  width: 1155px;
  height: 540px;
  border-radius: 16px;
  object-fit: cover;
  display: block;
}

.about-desc {
  margin: 50px;
  word-spacing: 16px;
  line-height: 1.7;
  text-align: justify;
}

.about-desc h4 {
  font-weight: 400;
}

.about-desc p {
  font-size: small;
}
