.cart-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 999;
}

.cart-container {
    position: fixed;
    top: 0;
    right: -420px;
    width: 380px;
    height: 95vh;
    background-color: #fff;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: right 0.4s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-container.active {
  right: 0;
}

.cart-overlay.active {
  opacity: 1;
  pointer-events: auto;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

#close-cart {
    font-size: 20px;
    cursor: pointer;
}

.cart-items {
    flex-grow: 1;
    overflow-y: auto;
    margin: 15px 0;
}

.cart-summary {
    border-top: 1px solid #ddd;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#checkout-btn {
    background: black;
    color: white;
    border: none;
    padding: 10px 18px;
    cursor: pointer;
    border: 1px solid  black;
    transition: background 0.3s ease;
}

#checkout-btn:hover {
  background: white;
  color: black;
  border: 1px solid  black;
}

#cart-icon {
    cursor: pointer;
    position: relative;
    /* display: inline-flex; */
}

#cart-count {
    background: crimson;
    /* display: inline-flex; */
    color: white;
    font-size: 12px;
    border-radius: 50%;
    padding: 1px 8px;
    border: 1px solid #111827;
    position: absolute;
    top: 19px;
    right: 46px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.cart-item-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-item img {
    aspect-ratio: 1 / 1;
    width: 60px;
    height: 100px;
    object-fit: cover;
}

.cart-item-content h4{
    margin-bottom: 10px;
}

.cart-item-content p {
    margin-bottom: 10px;
}

.remove-item {
    background: none;
    border: none;
    color: #999;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s;
}

.remove-item:hover {
  color: black;
}

