.error-content {
    margin: 80px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.error-btn {
    background: yellow;
    color: black;
    padding: 12px 24px;
    font-size: 1rem;
    margin: 0 auto;
}

.error-content h1 {
    margin: 30px;
    font-size: 4rem;
}

.error-content .home-btn {
    background: black;
    color: white;
    border: 2px solid black;
    margin: 20px auto;
    padding: 20px 40px;
    border-radius: 30px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.error-content .home-btn:hover {
    background: white;
    color: black;
}
