.faqs {
  padding: 80px 20px;
}

.faqs .container {
  max-width: 900px;
  margin: 0 auto;
}

.faqs h1 {
  margin-bottom: 40px;
  text-align: center;
}

.faq-item {
  /* margin-bottom: 20px; */
  text-align: left;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid #333;
}

.question {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 1rem;
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}

.question:hover {
  background: #f0f0f0;
}

.question i {
  font-size: 1.2rem;
  transition: transform 0.4s ease;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s cubic-bezier(0.22, 0.61, 0.36, 1), padding 0.3s ease;
  padding: 0 20px;
  color: #555;
  font-size: 0.90rem;
  line-height: 1.6;
  transform-origin: top;
  text-align: justify;
}

.answer.open {
  padding: 20px;
}

.question.active + .answer {
  max-height: 500px;
  padding: 20px;
}

.question.active {
  background: black;
  color: white;
}

.question.active i {
  transform: rotate(180deg);
}

 @media (max-width:480px){
      .question { padding: 14px; }
      .answer { padding-left: 14px; padding-right: 14px; }
    }