.product-detail {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  padding: 60px 60px;
  flex-wrap: wrap;
}

.product-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 420px;
}

.main-image img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border: 1px solid #ddd;
}

.thumbnail-container {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  justify-content: center;
}

.thumbnail-container img {
  width: 90px;
  height: 90px;
  border: 2px solid transparent;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.2s ease, border-color 0.3s;
}

.thumbnail-container img:hover {
  transform: scale(1.05);
}

.thumbnail-container img.active {
  border: 2px solid black;
}

.thumbnail:hover {
  transform: scale(1.05);
  border-color: black;
}

.product-detail .product-info {
  max-width: 500px;
  flex-direction: column;
  justify-content: center;
}

.product-detail .product-info h1 {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.delivery {
  display: flex;
  gap: 6px;
  align-items: center;
  margin-bottom: 10px;
}

.product-detail .product-info h3 {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.sale {
  display: flex;
  align-items: center;
  gap: 28px;
}

.sale #product-price {
  text-decoration: line-through;
}

.sale #product-price-sale {
  color: red;
}

#size-text {
  margin-bottom: 10px;
}

.size-options {
  display: flex;
  gap: 10px;
}

.size-box {
  border: 1px solid #ccc;
  padding: 10px 18px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #fff;
  font-size: 12px;
}

.size-box:hover {
  border-color: #999;
}

.size-box.active {
  border: 1px solid black;
}

.quantity-container {
  /* margin-top: 8px; */
  display: inline-flex;
  align-items: center;
  border: 1px solid #ddd;
  /* border-radius: 30px; */
  /* overflow: hidden; */
  width: fit-content;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.qty-btn {
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  color: #333;
  line-height: 1;
  /* font-size: 22px; */
  font-size: 1.6rem;
}

.qty-btn-cart {
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  color: #333;
  line-height: 1;
  /* font-size: 22px; */
  font-size: 1rem;
}

.qty-btn-cart:hover:not(:disabled) {
  background: #f2f2f2;
}

.qty-btn:hover:not(:disabled) {
  background: #f2f2f2;
}

.qty-btn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.qty-btn--minus {
  border-right: 1px solid #ddd;
}

.qty-btn--plus {
  border-left: 1px solid #ddd;
}

#quantity {
  /* width: 100%; */
  height: 40px;
  text-align: center;
  border: none;
  outline: none;
  color: #333;
  background: transparent;
  /* padding: 0 0.5rem; */
  font-size: 1.3rem;
  appearance: textfield;
}

.cart-quantity {
  height: 20px;
  text-align: center;
  border: none;
  outline: none;
  color: #333;
  background: transparent;
  /* padding: 0 0.5rem; */
  font-size: 1rem;
  appearance: textfield;
}

.cart-quantity::-webkit-inner-spin-button,
.cart-quantity::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#quantity:focus {
  outline: none !important;
  border-color: #719ece;
  box-shadow: 0 0 10px #719ece;
}
.cart-quantity:focus {
  outline: none !important;
  border-color: #719ece;
  box-shadow: 0 0 10px #719ece;
}

#quantity::-webkit-inner-spin-button,
#quantity::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.add-to-cart-detail {
  background-color: black;
  color: white;
  font-size: 12px;
  padding: 12px 28px;
  border: none;
  border: 1px solid black;
  cursor: pointer;
  transition: background 0.3s ease;
}

.add-to-cart-detail:hover {
  background-color: white;
  color: black;
}

.qty-cart {
  display: flex;
  align-items: center;
  gap: 30px;
}

.buy-btn {
  display: flex;
  margin: 0 auto;
  background-color: white;
  color: black;
  font-size: 12px;
  padding: 12px 123px;
  border: none;
  border: 1px solid black;
  cursor: pointer;
  transition: background 0.3s ease;
}

.buy-btn:hover {
  background-color: black;
  color: white;
}

.faq-item {
  /* margin-bottom: 20px; */
  text-align: left;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid #333;
}

.question {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 1rem;
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}

.question:hover {
  background: #f0f0f0;
}

.question i {
  font-size: 1.2rem;
  transition: transform 0.4s ease;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s cubic-bezier(0.22, 0.61, 0.36, 1),
    padding 0.3s ease;
  padding: 0 20px;
  color: #555;
  font-size: 0.9rem;
  line-height: 1.6;
  transform-origin: top;
  text-align: justify;
}

.answer.open {
  padding: 20px;
}

.question.active + .answer {
  max-height: 500px;
  padding: 20px;
}

.question.active {
  background: black;
  color: white;
}

.question.active i {
  transform: rotate(180deg);
}

@media (max-width: 480px) {
  .question {
    padding: 14px;
  }
  .answer {
    padding-left: 14px;
    padding-right: 14px;
  }
  .product-detail {
  padding: 60px 5px;
 
}
}
