.image-sale {
  position: relative;
}

.sale-tag {
  position: absolute;
  top: 10px;
  right: -3px;
  background: crimson;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 6px;
  letter-spacing: 0.5px;
}

.price {
    display: flex;
    gap: 30px;
    text-align: center;
}

.price .original {
  text-decoration: line-through;
}

.price .discounted {
  color: #e63946;
  font-weight: bold;
}
